header {
  width: 99vw;
  height: 9vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include colour($primary-background-color, $primary-text-color);
  color: red;
  background-color: pink;
}
